.resultField{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	max-width: 2200px;
	height: auto;
	background-color: white;
	justify-content: center;
	margin: auto;
	flex-grow: 1;
  gap: 20px;
}
.card{
	margin: 93px;
	width: 378px;
	height: 745px;
	background-color: rgba(242, 242, 242, 1);
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
	text-align: start;
}
.cardImg{
	width: 378px;
	height: 517px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.cardTitle{
	font-family:'Poppins', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0%;
	color: rgba(0, 0, 0, 1);
	margin-top: 20px;
	margin-left: 30px;
}
.yearCreation{
	font-family:'Poppins', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0%;
	color: rgba(0, 0, 0, 1);
	margin-top: 20px;
	margin-left: 30px;
}
.details{
	font-family:'Poppins', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0%;
	text-align: center;
	color:black;
	width: 111.10843658447266px;
	height: 58px;
	top: 1689px;
	left: 117px;
	border-radius: 10px;
	background-color: rgba(173, 255, 47, 1);
	margin-top: 20px;
	margin-left: 30px;
}
.resultContainer {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
	background-color: white;
}

.pagination button {
	width: 54.75229263305664px;
	height: 54.75229263305664px;
	border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
	background-color: #CCCCCC;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  
	background-color: rgba(173, 255, 47, 1);
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #CCCCCC;
}
