.card {
  position: relative;
  margin: 93px;
  width: 378px;
  height: 745px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  text-align: start;
}
.cardImg{
	width: 378px;
	height: 517px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.cardTitle{
	font-family:var(--font-family);
	font-weight: var(--font-weight);
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0%;
	color: var(--color);
	margin-top: 20px;
	margin-left: 30px;
}
.yearCreation{
	font-family:var(--font-family);
	font-weight: var(--font-weight);
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0%;
	color: var(--color);
	margin-top: 20px;
	margin-left: 30px;
}
.details{
	font-family:var(--font-family);
	font-weight: var(--font-weight);
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0%;
	text-align: center;
	color:var(--color);
	width: 111px;
	height: 58px;
	top: 1689px;
	left: 117px;
	border-radius: 10px;
	background-color: rgba(173, 255, 47, 1);
	margin-top: 20px;
	margin-left: 30px;
}

.likeButton {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 72px;
  transition: transform 0.2s ease-in-out;
}

/* дефолт */
.likeButton::before {
  content: "♡";
  color: rgb(210, 203, 203);
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* ховер */
.likeButton:hover::before {
  color: rgba(187, 66, 66, 0.649);
}

/* активный клик */
.likeButton:active {
  transform: scale(0.9);
}

/* лайкнули */
.likeButton.pressed::before {
  content: "♡"; /* Filled heart */
  color: rgba(187, 66, 66, 0.649);
}




