.filterFild{
	display: flex;
}
.filterButton{
	background-color:rgba(173, 255, 47, 1);
	width: auto;
	height: 35px;
	border-radius: 10px;
	color: var(--color);
	font-family:var(--font-family);
	font-weight: var(--font-weight);
	font-size: 14px;
	letter-spacing: var(--letter-spacing);
}
.filterInput{
	width: 100px;
	height: 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: var(--color);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: 14px;
	letter-spacing: var(--letter-spacing);
	padding: 10px;
	border: none;
}
.active{
	border-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}