.resultField{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	max-width: 2200px;
	height: auto;
	background-color: var(--background-color);
	justify-content: space-around;
	margin: auto;
	flex-grow: 1;
  gap: 20px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  min-width: var(--header-footer-min-width);
  max-width: var(--header-footer-max-width);
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
}

.pagination {
  display: var(--display);
  justify-content: var(--justify-content);
  padding-bottom: 20px;
	background-color: var(--background-color);
}

.pagination button {
	width: 55px;
	height: 55px;
	border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
	background-color: #CCCCCC;
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
	background-color: rgba(173, 255, 47, 1);
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #CCCCCC;
}
