.favoritesStack {
    width: 100%;
    gap: 20px;
    padding: 20px
}

.favoritesContainer {
    max-height: 100%;
}

.favoritesCards {
    max-height: 80vh;
    overflow: auto;
    border-radius: 20px;
    background-color: var(--header-footer-bg-color);
}

.grid2{
    justify-content: center;
}