.footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: rgba(173, 255, 47, 1);
    display: var(--header-footer-display);
    flex-direction: var(--header-footer-flex-direction);
    width: var(--header-footer-width);
    max-width: var(--header-footer-max-width);
    min-width: var(--header-footer-min-width);
    height: var(--header-footer-height);
    background-color: var(--header-footer-bg-color);
}